@tailwind base;
@tailwind components;
@tailwind utilities;

/* third-party libraries CSS */

.testimonial-01 .swiper-pagination-bullet {
  @apply h-2.5 w-2.5 bg-stroke opacity-100;
}
.testimonial-01 .swiper-pagination-bullet-active {
  @apply w-5 rounded-full bg-primary;
}

.testimonial-01 .swiper-pagination {
  @apply relative pt-[50px];
}

#supportCheckbox:checked ~ div span {
  @apply opacity-100;
}

@layer base {
  body {
    @apply relative z-1 font-inter text-regular font-normal text-waterloo dark:text-manatee;
  }
}

@layer components {
  .dropdown {
    @apply flex-col gap-4 min-w-max lg:flex-row lg:gap-0;
  }

  .dropdown-btn {
    @apply flex items-center justify-between gap-2 py-2 lg:py-7.5;
  }

  .dropdown-title {
    @apply text-black dark:text-white hover:text-primary;
  }

  .hero-title {
    @apply text-3xl font-bold text-black dark:text-white sm:text-4xl md:text-5xl xl:text-hero;
  }

  .hero-subtitle {
    @apply text-lg font-medium text-black dark:text-white;
  }

  .sticky-menu {
    @apply fixed !bg-white !bg-opacity-80 shadow-sticky backdrop-blur-sm dark:!bg-black dark:!bg-opacity-20;
  }

  .sticky-menu .menu-scroll {
    @apply py-5 lg:py-2;
  }

  .sticky-menu #navbarToggler span {
    @apply !bg-dark dark:!bg-white;
  }

  .sticky-menu #navbarCollapse li > a {
    @apply text-dark hover:text-primary dark:text-white dark:hover:text-primary;
  }

  .sticky-menu .loginBtn {
    @apply text-dark hover:text-primary dark:text-white dark:hover:text-primary;
  }

  .sticky-menu .signUpBtn {
    @apply bg-primary text-white hover:bg-blue-dark;
  }

  .sticky-menu .mode-switcher {
    @apply text-dark hover:text-primary dark:text-white dark:hover:text-primary;
  }

  .navbar-btn {
    @apply flex items-center gap-2 text-white hover:text-primary dark:text-white dark:hover:text-primary;
  }

  #navbarCollapse li {
    @apply static md:relative;
  }

  #navbarCollapse li.submenu-item {
    @apply relative before:absolute before:right-4 before:top-[48%] before:mt-[-2px] before:h-[6px] before:w-[6px] before:-translate-y-1/2 before:rotate-45 before:border-r-2 before:border-t-2 before:border-black/50 hover:before:border-black dark:before:border-white/50 dark:hover:before:border-white;
  }

  .submenu {
    @apply hidden;
  }

  .submenu-item:hover > .submenu {
    @apply block;
  }

  .mobile-menu {
    @apply block lg:hidden;
  }

  .mobile-menu.show {
    @apply block;
  }

  .feature-box {
    @apply group relative;
  }

  .feature-box .icon {
    @apply relative z-10 mx-auto mb-10 flex h-[110px] w-[110px] items-center justify-center rounded-full bg-opacity-10 text-primary duration-300 group-hover:bg-primary group-hover:text-white;
  }

  .feature-box .icon.color-1 {
    @apply bg-[#F97316];
  }

  .feature-box .icon.color-2 {
    @apply bg-[#3BA2B8];
  }

  .feature-box .icon.color-3 {
    @apply bg-[#22C55E];
  }

  .feature-box .icon::after {
    @apply absolute left-0 top-0 -z-1 h-full w-full scale-105 rounded-full bg-[#F97316] opacity-0 duration-300 content-[''] group-hover:opacity-[0.1];
  }

  .feature-box .icon.color-2::after {
    @apply bg-[#3BA2B8];
  }

  .feature-box .icon.color-3::after {
    @apply bg-[#22C55E];
  }
}

@media (max-width: 1280px) {
  .navbar {
    @apply max-h-[400px] overflow-y-scroll;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .img-white {
    filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg)
      brightness(100%) contrast(105%);
  }
}

.active-tab {
  @apply text-black dark:text-white;
}

/* Swiper zoom effect */
.swiper-slide-active img {
  transform: scale(1.25);
}

.swiper-slide:not(.swiper-slide-active) img {
  transform: scale(1);
  transition: transform 3s ease;
}
